@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
  font-weight: light;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: light;
}

header.cabecalho div.container {
  display: flex;
  justify-content: space-between;
}

div.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 15px;
}

nav.menu {
  margin-top: 10px;
}

nav.menu ul li {
  list-style: none;
  display: inline-block;
}

nav.menu ul li a {
  color: #1b4159;
  margin: 0 10px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.9s;
}

nav.menu ul li a:hover {
  color: #224d73;
  font-weight: bold;
}

/* --------------------------------------- */

main.principal div.container-titulo {
  width: 100%;
  background-color: #224d73;
  padding: 15px;
}

main.principal div.container-titulo h1 {
  color: #f0f1f2;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
}

div.modulo {
  width: 100%;
  padding: 50px 0;
}

div.sobre {
  background-color: #b0b9bf;
}

h2.subtitulo,
div.container-btn {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.btn-saiba-mais {
  background-color: #224d73;
  padding: 15px;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s;
}

.btn-saiba-mais:hover {
  transform: scale(1.2);
  filter: brightness(0.95);
}

.btn-saiba-mais a {
  text-align: center;
  text-decoration: none;
  color: #f0f1f2;
  font-size: 20px;
}

/* Modulo Tabela */
table.tabela {
  width: 100%;
  border-collapse: collapse;
}

table.tabela thead {
  background-color: #1b4159;
  color: #f0f1f2;
}

table.tabela td,
table.tabela th {
  border: 1px solid #1b4159;
  padding: 7px;
}

/* Modulo Locais Interesse */
div.lista-locais ul {
  display: flex;
  justify-content: center;
}

div.lista-locais ul li {
  list-style: none;
  display: inline-block;
  color: #f0f1f2;
  background-color: #224d73;
  padding: 7px 12px;
  margin: 0 3px;
  border-radius: 5px;
}

/* Rodapé */
footer.rodape {
  width: 100%;
  padding: 50px 0;
  background-color: #1b4159;
  background-image: url(../assets/img/padrao-fundo-rodape.png);
  border-top: 6px solid #6c7d8c;
  text-align: center;
  clear: both;
}

footer.rodape div.logo {
  margin-bottom: 30px;
}

header.cabecalho div.logo img,
header.cabecalho .logo img {
  max-width: 135px; /* ajuste esse valor para maior/menor */
  width: 100%;
  height: auto;
  display: block;
}

footer.rodape div.creditos {
  color: #f0f1f2;
}

/* Mapa */
div.mapa {
  width: 100%;
}

div.mapa iframe {
  float: left;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* Notáveis */
div.notaveis {
  float: left;
  background-color: #f0f1f2;
  margin-top: 20px;
}

div.notaveis ol {
  font-size: 22px;
  float: left;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* Pagina Sugestão */

div.sugestao-texto {
  text-align: center;
}

div.form-container {
  width: 100%;
  margin: 15px 0;
}

input.form {
  width: 100%;
  min-height: 40px;
  font-size: 17px;
  text-indent: 10px;
}

textarea#sugestao {
  width: 100%;
}

input.form-botao {
  width: 100%;
  padding: 15px 30px;
  background-color: #224d73;
  border: none;
  color: #f0f1f2;
  font-size: 17px;
  cursor: pointer;
  transition: transform 0.3s;
}

input.form-botao:hover {
  background-color: #1b4159;
}
